body{
    background-color: aliceblue;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card{
    background-color: aquamarine;
    text-align: center;
    flex: 1;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 6px black;
}

header, footer{
    text-align: center;
    justify-content: center;
    background-color: wheat;
    color: brown;
}

a{

}

@media(max-width: 768px){
    .card{
        flex: 1 1 100%;
    }
    main{
        flex-wrap: wrap;
        flex-direction: row;
    }
}